[submodule "library_repos/primitive-app-dev"]
	path = library_repos/primitive-app-dev
	url = https://github.com/Primitive-Labs/primitive-app-dev
	branch = main
[submodule "library_repos/js-bao-wss"]
	path = library_repos/js-bao-wss
	url = https://github.com/Primitive-Labs/js-bao-wss
	branch = main
[submodule "library_repos/js-bao"]
	path = library_repos/js-bao
	url = https://github.com/Primitive-Labs/js-bao
	branch = main
